<section class="page-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">About</h2>
                <h3 class="section-subheading text-muted">Flip Toast Events</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{{ site.baseurl }}/imgaes/mission.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>October-2019</h4>
                                <h4 class="subheading">Who we are</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Flip Toast Events Brings Design Experience To Your Work and your Organization. Flip Toast Events is the fastest Growing Company Catering To all The Various Security & IT Services. As We are new in the Market But.. Our
                                    Organization Has A exceptionally skilled team Of IT specialists, Who Are Committed To Deliver The Best Quality Services in The Fixed Time Frame. Since our meetings take place in your home or office, we’ll work with
                                    you to help visualize a design solution that aligns with your taste, space, and budget, Also our team will guide you.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{{ site.baseurl }}/imgaes/vision.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>November 2019</h4>
                                <h4 class="subheading">What We Do</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We value the principal of trust and work with innovative Designs and Techniques. We design and expand all kind of diverse Websites From Dynamic to E-commerce with Domains & Hosting Services and promote Your commercial enterprise
                                    to the top Rank with special ways of digital marketing together with SEO / SMO /PPC and so Forth.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{{ site.baseurl }}/imgaes/mission.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2019</h4>
                                <h4 class="subheading">Our Work</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">we're right here to keep you and your organization secure. Be it the remotest corners of the country,the busiest cities or the high sea's , we are at the forefront of offering the most customized and advanced Security Solutions
                                    & Services.. from CCTV/IP Camera to access control, from fire alarm to vehicle monitoring Systems, we do it All.. We are Doctor Web Solutions Pvt. Ltd. ..... the complete Security and IT Solutions </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{{ site.baseurl }}/imgaes/vision.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2014</h4>
                                <h4 class="subheading">Phase Two Expansion</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>COME
                                <br>JOIN
                                <br>US</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>