<section class="top-bar-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <!--Start contact info left-->
                <div class="contact-info-left clearfix">
                    <ul>
                        <li><span class="flaticon-building"></span>Property-60 Ground Floor, Laxmi Bazar, Gurugram Haryana-1122001
                        </li>
                        <li><span class="flaticon-new-email-outline envelop"></span>rajesh@fliptoastevents.com</li>
                    </ul>
                </div>
                <!--End contact info left-->
            </div>
            <div class="col-lg-5 col-md-5">
                <!--Start contact info right-->
                <div class="contact-info-right">
                    <div class="phnumber">
                        <p><span class="flaticon-technology"></span>+91-9999176773
                        </p>
                    </div>
                    <div class="language-switcher">
                        <div id="polyglotLanguageSwitcher">
                            <form action="#">
                                <select id="polyglot-language-options">
                                <option id="en" value="en" selected>English</option>
                                <option id="fr" value="fr">French</option>
                                <option id="de" value="de">German</option>
                                <option id="it" value="it">Italian</option>
                                <option id="es" value="es">Spanish</option>
                            </select>
                            </form>
                        </div>
                    </div>
                    <div class="top-social-links">
                        <ul>
                            <li><a href=" https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--End contact info right-->
            </div>
        </div>
    </div>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Flip Toast Events</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Services</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</section>